<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <appSettings>
    <!--所有与时间有关的值，均以秒为单位-->
    
    <!-- 开关门流程配置：
      open/closeOpeNumber：开关门操作数量，序号从1起
      open/close序号flag：0-禁用规则，1-激活规则，2-设置预置位，3-延时
      open/close序号camera：所配置的相机
      open/close序号detail：规则名、预置位编号、时长
    -->
    
    <!--开门操作数量-->
    <add key="openOpeNumber" value="11"/>

    <!--1.禁用cam1初始化的策略：ruqinyanhuozhiliu1-->
    <add key="open1flag" value="0"/>
    <add key="open1camera" value="1"/>
    <add key="open1detail" value="ruqinyanhuozhiliu1"/>

    <!--2.禁用cam2初始化的策略：ruqinyanhuozhiliu2-->
    <add key="open2flag" value="0"/>
    <add key="open2camera" value="2"/>
    <add key="open2detail" value="ruqinyanhuozhiliu2"/>

    <!--3.cam1转到预置位2-->
    <add key="open3flag" value="2"/>
    <add key="open3camera" value="1"/>
    <add key="open3detail" value="2"/>

    <!--4.激活cam1着装策略：zhuozhuang-->
    <add key="open4flag" value="1"/>
    <add key="open4camera" value="1"/>
    <add key="open4detail" value="zhuozhuang"/>

    <!--5.激活cam5人数统计策略：renshutongji-->
    <add key="open5flag" value="1"/>
    <add key="open5camera" value="5"/>
    <add key="open5detail" value="renshutongji"/>

    <!--6.延时30s-->
    <add key="open6flag" value="3"/>
    <add key="open6camera" value="0"/>
    <add key="open6detail" value="10"/>

    <!--7.禁用cam1着装策略：zhuozhuang-->
    <add key="open7flag" value="0"/>
    <add key="open7camera" value="1"/>
    <add key="open7detail" value="zhuozhuang"/>

    <!--8.禁用cam5人数统计策略：renshutongji-->
    <add key="open8flag" value="0"/>
    <add key="open8camera" value="5"/>
    <add key="open8detail" value="renshutongji"/>

    <!--9.cam1转到预置位1-->
    <add key="open9flag" value="2"/>
    <add key="open9camera" value="1"/>
    <add key="open9detail" value="1"/>

    <!--10.激活cam1着装烟火策略zhuozhuangyanhuo1-->
    <add key="open10flag" value="1"/>
    <add key="open10camera" value="1"/>
    <add key="open10detail" value="zhuozhuangyanhuo1"/>

    <!--11.激活cam2着装烟火策略zhuozhuangyanhuo2-->
    <add key="open11flag" value="1"/>
    <add key="open11camera" value="2"/>
    <add key="open11detail" value="zhuozhuangyanhuo2"/>

    <!--关门操作数量-->
    <add key="closeOpeNumber" value="5"/>

    <!--1.禁用cam1着装烟火策略zhuozhuangyanhuo1-->
    <add key="close1flag" value="0"/>
    <add key="close1camera" value="1"/>
    <add key="close1detail" value="zhuozhuangyanhuo1"/>

    <!--2.禁用cam2着装烟火策略zhuozhuangyanhuo2-->
    <add key="close2flag" value="0"/>
    <add key="close2camera" value="2"/>
    <add key="close2detail" value="zhuozhuangyanhuo2"/>

    <!--3.延时30s-->
    <add key="close3flag" value="3"/>
    <add key="close3camera" value="0"/>
    <add key="close3detail" value="10"/>

    <!--4.激活cam1入侵烟火滞留ruqinyanhuozhiliu1-->
    <add key="close4flag" value="1"/>
    <add key="close4camera" value="1"/>
    <add key="close4detail" value="ruqinyanhuozhiliu1"/>

    <!--5.激活cam2入侵烟火滞留ruqinyanhuozhiliu2-->
    <add key="close5flag" value="1"/>
    <add key="close5camera" value="2"/>
    <add key="close5detail" value="ruqinyanhuozhiliu2"/>

    <!--cortex服务器IP地址-->
    <add key="serverIP" value="219.140.50.130"/>
    <!--分析引擎ID，也就是BehaviourWatch的ID-->
    <add key="scannerID" value="149"/>
    
    <!--门口机信息（用不到）-->
    <add key="DVRIPAddress" value="173.23.29.227"/>
    <add key="DVRPortNumber" value="8000"/>
    <add key="DVRUserName" value="admin"/>
    <add key="DVRPassword" value="qw123456789"/>
    <add key="SDKPath" value="D:\C#Projects\ConsoleApp1\ConsoleApp1\bin\Debug\hikvision\HCNetSDK.dll"/>

    <!--声波盾IP地址-->
    <add key="soundWaveShieldIP" value="173.23.29.232"/>
    <!--声波盾端口号-->
    <add key="soundWaveShieldPort" value="6722"/>

    <!--模式，0-一直响，1-断续响（用不到）-->
    <add key="modeForRuqinJin" value="0"/>
    <add key="modeForRuqinYuan" value="1"/>

    <!--频率，编号-->
    <add key="frequencyForRuqinJin" value="1"/>
    <add key="frequencyForRuqinYuan" value="2"/>
    <add key="frequencyForXXX" value="3"/>

    <!--频率1，发声时间-->
    <add key="soundTime1" value="3"/>
    <!--频率1，静默时间-->
    <add key="silenceTime1" value="1"/>
    <!--频率2，发声时间-->
    <add key="soundTime2" value="1"/>
    <!--频率2，静默时间-->
    <add key="silenceTime2" value="3"/>
    <!--频率3，发声时间-->
    <add key="soundTime3" value="2"/>
    <!--频率3，静默时间-->
    <add key="silenceTime3" value="2"/>

    <!--多久没有新入侵，则认为入侵结束，关闭声波盾-->
    <add key="intrudeDelay" value="10"/>
    
    <!--mp3文件路径-->
    <add key="mp3path" value="D:/test.mp3"/>
    <!--mp3播放完毕，延时启动声波盾-->
    <add key="mp3delay" value="10"/>

    <!--genbox ip-->
    <add key="genboxIP" value="192.168.1.105"/>
    <!--数据库连接字符串-->
    <add key="connStr" value="server=localhost;user id=root;password=566711;database=gensys;Charset=utf8"/>
  </appSettings>

</configuration>
